@model MvcFirstApp.Models.Movie
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<ol class="breadcrumb my-4">
    @Html.ActionLink("Home", "Index", "Movie", new object { }, new { @class = "breadcrumb-item" })
    <li class="breadcrumb-item active">Movie Details</li>
</ol>

<div class="card border-primary">
    <div class="col-md-6 card-body offset-3">
        <div class="form-horizontal">
            <h4 class="font-weight-bold text-primary">Movie Detail</h4>
            <hr />
            <div class="form-group">
                <span class="control-label font-weight-bold">Title</span>
                <div class="px-3">
                    <label class="" asp-for="Title">@Model.Title</label>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MovieType, htmlAttributes: new { @class = "control-label font-weight-bold" })
                <div class="px-3">
                    @Model.MovieType
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MovieStar, htmlAttributes: new { @class = "control-label font-weight-bold" })
                <div class="px-3">
                    @Model.MovieStar
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Go Back", "Index", "Movie", new object { }, new { @class = "btn  btn-outline-primary" })
                </div>
            </div>
        </div>
    </div>
</div>