@model MvcFirstApp.Models.Movie
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <ol class="breadcrumb my-4">
        <a asp-controller="Movie" asp-action="Index" class="breadcrumb-item">Home</a>
        <li class="breadcrumb-item active">Add Save Details</li>
    </ol>

    <div class="card border-primary">
        <div class="col-md-6 card-body offset-3">
            <div class="form-horizontal">
                <h4 class="font-weight-bold text-primary">Save Movie Detail</h4>
                <hr />
                <form asp-controller="Movie" asp-action="Save" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.Title" class="control-label font-weight-bold"></label>
                        <div class="col-md-10">
                            <input asp-for="@Model.Title" class="form-control" />
                            <span asp-validation-for="@Model.Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.MovieStar" class="control-label font-weight-bold"></label>
                        <div class="col-md-10">
                            <input asp-for="@Model.MovieStar" class="form-control" />
                            <span asp-validation-for="@Model.MovieStar" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.MovieType" class="control-label font-weight-bold"></label>
                        <div class="col-md-10">
                            <input asp-for="@Model.MovieType" class="form-control" />
                            <span asp-validation-for="@Model.MovieType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save Change" class="btn  btn-outline-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
